/* --------------global styles------------------- */
.navbar-toggler {
    border: none;
}

.loader {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgb(78, 78, 78);
    z-index: 100;
    display: flex;
}

.loader div {
    font-size: 1.5rem;
}

.loader span {
    font-size: ;
}

.navbar{
    background: linear-gradient(to right,rgb(78, 152, 164),rgb(124, 203, 196)) !important;
    border-bottom: solid 1px rgb(212, 212, 212);
}
.form-control:focus,
.navbar-toggler:focus,
.btn-close:focus {
    border-color: none;
    box-shadow: none;
}

.navbar-brand {
    color: rgb(195, 195, 196);
    font-weight: 700;
    font-size: 2.3rem;
}

.nav-item {
    margin-left: .5rem;
    font-weight: 600;
}

.offcanvas {
    background: rgb(160, 72, 231);
}
.hero{
    background: linear-gradient(to right,rgb(78, 152, 164),rgb(124, 203, 196)) !important;
    height: calc(100vh - 100px);
}
.hero .hero-top{
    height: 75%;
}
.hero h1{
    font-size: 4rem;
    font-weight: 800;
    color: white;
}
.hero p{
    font-size: 1.5rem;
    color: rgb(80, 80, 80);
    font-weight: 750;
}
.hero form{
    width: 100%;
    background: white;
    padding: 1rem;
    border-radius: 5rem;
}
.hero form input{
    border: none;
}
.intro{
    margin-bottom: 3rem;
}
.intro .stats-container{
    background: white;
    margin-top: -9rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px black;
    color: rgb(116, 116, 116);
}
.intro .stats-container img{
    object-fit: contain;
    max-width: 12rem;
}
.intro .stats-container .stats{
    font-size: 1rem;
} 

.intro .uploads-container{
    background: white;
    margin-top: -22.5rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px black;
    color: rgb(116, 116, 116);
}
.intro .uploads-container img{
    max-width: 12rem;
}
.intro .uploads-container a img{
    width: 2.5rem;
    height: 2.5rem;
}
.drops{
    background: linear-gradient(to right,rgb(78, 152, 164),rgb(124, 203, 196)) !important;
    padding: 3rem 0;
}
.drops ul{
    list-style: none;
}
.drops ul li a{
    padding: 0.5rem 1rem;
    background: white;
}
.social img{
    max-width: 12rem;
}

.social button{
    border: 1px rgb(151, 151, 151) solid;
}
.social button a{
    color: rgb(151, 151, 151);
}

@media screen and (max-width: 768px) {
    .social .col .btn{
        margin: 0.6rem;
    }
}

@media screen and (max-width: 425px) {
    .intro .uploads-container{
        margin-top: 0;
        width: 100%;

    }
    .hero form{
        padding: 0.5rem;
    }
    .hero h1{
        font-size: 3.5rem;
    }
    .hero p{
        font-size: 1.2rem;
    }
    .intro .stats-container{
        margin-top: -6rem;
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .drops ul{
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .drops ul li{
        margin: 1rem;
    }
    .social .col{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social .col .btn{
        margin: 0.5rem;
    }
    .social .social-icons{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 320px) {
    .hero{
        height: ;
    }
    .intro .stats-container{
        margin-top: -4rem;
        margin-bottom: 1.5rem;
    }
    .hero h1{
        font-size: 3.2rem;
    }
    .hero p{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1440px) {
    
}

@media screen and (max-width: 320px) {}